.DS_Store
.idea
.vscode
*.vcd
runs
tt_submission
src/user_config.tcl
test/sim_build
test/__pycache__/
test/results.xml
test/gate_level_netlist.v
*~
.*.swp
JUNK
*-cache.lib
fp-info-cache
~*.kicad*.lck
*-backups
sim_raw_files.tar.xz
sim/spicewrap*
sim/render.log

